@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100;
  }
}

* {
  scrollbar-color: theme('colors.zinc.700') theme('colors.zinc.950');
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.zinc.950');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.zinc.700');
  border-radius: 9999px;
}
